@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,1000;1,1000&display=swap');

body {
  background-size: 100%;
  min-height: 100vh;
  background: linear-gradient(120deg, #eeeeee 50%, #FEBB2E 40%);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}
.diasT {
  width: 100%;
  margin: 20px 0 10px 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14pt;
  font-weight: 400;
}
.dias {
  text-align: justify;
  margin: 0px 0 20px 120px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20pt;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.opciones {
  width: 20%;
  height: 100%;
  position: relative;
  float: left;
}
.lista-Opciones {
  margin: 100px 0 0 50px;
}
li {
  list-style: none;
  height: 30px;
  width: 100%;
  padding: 20px 0 10px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
li:hover {
  background: #bbd0ff;
  color: #000000;
  transform: scale(1.1);
  border-left: #1157fb 8px solid;
}
li:nth-child(1) {
  background: #bbd0ff;
  color: #000000;
  transform: scale(1.1);
  border-left: #1157fb 8px solid;
}
.p {
  margin: 0;
  /* Ajusta según sea necesario */
  padding: 0;
  /* Ajusta según sea necesario */
}
.logo {
  width: 40px;
  height: 40px;
  padding: 0 10px 0 0;
  margin-top: -10px;
}
.boton {
  position: absolute;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
header {
  margin-top: 0px;
  height: 50px;
  width: 80%;
  float: right;
}
.titulo {
  flex: 1 1 100%;
  padding: 20px 20px 0px 0px;
  text-align: right;
  color: #000000;
}
.cajontitulo {
  height: 50px;
  width: 60%;
  float: left;
}
.cajontitulo .titulo {
  float: left;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 25pt;
  font-weight: 600;
  /*font-style: italic;*/
}

span {
  font-weight: 600;
}

.titulo:nth-of-type(2) {
  font-size: 10pt;
  font-weight: 500;
  margin-top: -15px;
  font-style: italic;
}


.contenido {
  width: 80%;
  height: 100%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cuadro {
  width: 250px;
  height: 150px;
  background: #ffffff;
  margin: 50px 0 0 80px;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
  font-size: 14pt;
  font-weight: 700;
}

.titulo-Opciones {
  padding-left: 20px;
  font-size: 12pt;
  margin-top: 10px;
}

.tabla {
  width: 800px;
  height: 400px;
  overflow: auto;
  max-height: 50%;
  background: #ffffff;
  margin: 50px 0 0 80px;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.tabla-contenido {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12pt;
  text-align: center;
}

.tabla-contenido tr:nth-child(even) {
  background-color: #f2f2f2;
  /* color para filas pares */
}

.tabla-contenido tr:nth-child(odd) {
  background-color: #cccccc;
  /* color para filas impares */
}

th,
td {
  vertical-align: middle;
}

th {
  border-bottom: #b9b9b9 1px solid;
  padding: 15px;
  background: #5e6a75;
  color: #ffffff;
  font-weight: 400;
}

tr {
  height: 40px;

}


/* switch */

.onoffswitch {
  position: relative;
  width: 90px;
  margin: 50px 0 0 95px;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #1157FB;
  border-radius: 21px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #1157FB;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #1157FB;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #1157FB;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}