@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,1000;1,1000&display=swap');

body {
    background-size: 100%;
    min-width: 100vh;
    min-height: 100vh;
    background: linear-gradient(120deg, #eeeeee 50%, #FEBB2E 40%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

.diasT {
    width: 100%;
    margin: 20px 0 10px 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
    font-weight: 400;
}

.dias {
    text-align: justify;
    margin: 0px 0 10px 120px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16pt;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}



.opciones {
    width: 20%;
    height: 100%;
    position: fixed;
    /* Cambiado de "relative" a "fixed" */
    top: 0;
    /* Fijamos el menú en la parte superior */
    left: 0;
}


.lista-Opciones {
    margin: 100px 0 0 50px;
}

li {
    list-style: none;
    height: 30px;
    width: 100%;
    padding: 20px 0 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

li:hover {
    background: #bbd0ff;
    color: #000000;
    transform: scale(1.1);
    border-left: #1157fb 8px solid;
}


li:nth-child(7) {
    background: #bbd0ff;
    color: #000000;
    transform: scale(1.1);
    border-left: #1157fb 8px solid;
}

.p {
    margin: 0;
    /* Ajusta según sea necesario */
    padding: 0;
    /* Ajusta según sea necesario */
}


.logo {
    width: 40px;
    height: 40px;
    padding: 0 10px 0 0;
    margin-top: -10px;
}


header {
    margin-top: 0px;
    height: 50px;
    width: 80%;
    float: right;
}

.titulo {
    flex: 1 1 100%;
    padding: 20px 20px 0px 0px;
    text-align: right;
    color: #000000;
}

.cajontitulo {
    height: 50px;
    width: 60%;
    float: left;
}

.cajontitulo .titulo {
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 25pt;
    font-weight: 600;
    /*font-style: italic;*/
}

span {
    font-weight: 600;
}

.titulo:nth-of-type(2) {
    font-size: 10pt;
    font-weight: 500;
    margin-top: -15px;
    font-style: italic;
}

.contenido {
    max-width: 78%;
    width: 80%;
    height: 100%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cuadro {
    width: 250px;
    height: 150px;
    background: #ffffff;
    margin: 50px -60px 0 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    font-size: 14pt;
    font-weight: 700;
}

.titulo-Opciones {
    padding: 0 20px 0 20px;
    font-size: 12pt;
    margin-top: 10px;
}

.boton {
    position: absolute;
    background-color: #1157fb;
    margin-top: 110px;
    height: 20px;
    width: 240px;
    opacity: 0;
    cursor: pointer;
}


/* Aplicar escala solo al cuarto cuadro utilizando :nth-child */
.cuadroTlinea :hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    /* Agregar transición para suavizar el cambio */
    cursor: pointer;
}

.cuadroSlinea .cuadro:nth-child(3):hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    /* Agregar transición para suavizar el cambio */
}


.cuadroTexto {
    width: 800px;
    height: auto;
    /* Cambiado a "auto" para adaptarse al contenido */
    background: #ffffff;
    margin: 50px auto;
    /* Centrado horizontalmente */
    border-radius: 15px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    font-size: 16pt;
    font-weight: 700;
    display: flex;
    /* Añadido display:flex para el contenedor principal */
    flex-wrap: wrap;
    /* Habilitar flex-wrap para envolver elementos */
    justify-content: space-between;
    /* Espaciado uniforme entre elementos */
    padding: 0 20px 0 20px;
}

.valor {
    display: flex;
    justify-content: flex-start; /* Alinea elementos al inicio */
    align-items: flex-start; /* Alinea elementos verticalmente al inicio */
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay espacio */
}



.valor .titulo {
    margin: 5px 0 30px 0;
    flex: 1 1 100%;
    /* Para ocupar todo el ancho disponible */
}

select {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0 0 20px 0;
    flex: 1 1 calc(50% - 40px);
    /* Distribuir el ancho de dos elementos en una fila */
}

.select-wrap,
.input-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 40px);
    /* Distribuir el ancho de dos elementos en una fila */
}


.archivo {
    position: relative;
    width: 300px;
    /* Ancho del botón */
    height: 40px;
    margin: 0 10px 30px 0px; /* Añade un poco de margen para separarlos */
    float: left;
}

.archivo input[type="file"] {
    opacity: 0;
    /* Oculta el input real */
    position: absolute;
    left: 0;
    top: 0;
    width: 290px;
    /* El mismo ancho que el botón */
    height: 40px;
    /* Ajusta según la altura de tu botón */
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.archivo .input {
    width: 315px;
    height: 50px;
    cursor: pointer;
}

.archivo, .archivo input[type="file"], .archivo button {
    box-sizing: border-box;
    width: 315px; /* Ancho total, incluyendo padding y borde */
}


.input {
    font-family: 'Poppins', sans-serif;
    width: 300px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    /* Cambiado border-width y border-style a un solo valor */
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin-bottom: 20px;
}

.input:focus {
    outline: none;
}

.btn,
.btn2 {
    height: 50px;
    width: 85%;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #0066cc;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    /* Cambiado valores de box-shadow */
    border-radius: 50px;
    transition: 1000ms;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0px 10px 50px;
    /* Añadido margen inferior para separar botones */
}