@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,1000;1,1000&display=swap');

body {
  background-size: 100%;
  min-width: 100vh;
  min-height: 100vh;
  background: linear-gradient(120deg, #eeeeee 50%, #FEBB2E 40%);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

.delete-icon,
.editar-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

td a {
  color: blue;
  text-decoration: underline;
}

.opciones {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.lista-Opciones {
  margin: 100px 0 0 50px;
}

li {
  list-style: none;
  height: 30px;
  width: 100%;
  padding: 20px 0 10px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

li:hover {
  background: #bbd0ff;
  color: #000000;
  transform: scale(1.1);
  border-left: #1157fb 8px solid;
}

li:nth-child(12) {
  background: #bbd0ff;
  color: #000000;
  transform: scale(1.1);
  border-left: #1157fb 8px solid;
}

.p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 0 10px 0 0;
  margin-top: -10px;
}

.boton {
  position: absolute;
  background-color: #1157fb;
  margin-top: -110px;
  height: 149px;
  width: 240px;
  opacity: 0;
  cursor: pointer;
}

header {
  margin-top: 0px;
  height: 50px;
  width: 80%;
  float: right;
}

.titulo {
  flex: 1 1 100%;
  padding: 20px 20px 0px 0px;
  text-align: right;
  color: #000000;
}

.cajontitulo {
  height: 50px;
  width: 60%;
  float: left;
}

.cajontitulo .titulo {
  float: left;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 25pt;
  font-weight: 600;
}

span {
  font-weight: 600;
}

.titulo:nth-of-type(2) {
  font-size: 10pt;
  font-weight: 500;
  margin-top: -15px;
  font-style: italic;
}

.contenido {
  max-width: 60%;
  width: 80%;
  height: 100%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 50px;
  margin-right: 80px;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.graficos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.titulo-grafico {
  text-align: center;
  font-size: 16pt;
  font-weight: 600;
}

.titulo-Opciones {
  padding: 0 20px 0 20px;
  font-size: 12pt;
  margin-top: 10px;
}

.barras {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.seleccionar {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.seleccionar2 {
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.barChart-container {
  width: 100%;
  max-height: auto; /* Adjust height as needed */
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px; /* Optional: for some space at the bottom */
}

.circular {
  width: 30%;
  border-radius: 50%;
}

.graficoEdiciones {
  width: 100%;
  max-height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.barras {
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.btn {
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0 0 30px;
  width: 71%;
}
