@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,1000;1,1000&display=swap');

body {
  background-size: 100%;
  min-width: 100vh;
  min-height: 100vh;
  background: linear-gradient(120deg, #eeeeee 50%, #FEBB2E 40%);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

.diasT {
  width: 100%;
  margin: 20px 0 10px 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14pt;
  font-weight: 400;
}

.dias {
  text-align: justify;
  margin: 0px 0 10px 120px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16pt;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}



.opciones {
  width: 20%;
  height: 100%;
  position: relative;
  float: left;

}

.lista-Opciones {
  margin: 100px 0 0 50px;
}

li {
  list-style: none;
  height: 30px;
  width: 100%;
  padding: 20px 0 10px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

li:hover {
  background: #bbd0ff;
  color: #000000;
  transform: scale(1.1);
  border-left: #1157fb 8px solid;
}


li:nth-child(1) {
  background: #bbd0ff;
  color: #000000;
  transform: scale(1.1);
  border-left: #1157fb 8px solid;
}

.p {
  margin: 0;
  /* Ajusta según sea necesario */
  padding: 0;
  /* Ajusta según sea necesario */
}


.logo {
  width: 40px;
  height: 40px;
  padding: 0 10px 0 0;
  margin-top: -10px;
}

.boton {
  position: absolute;
  background-color: #1157fb;
  margin-top: -110px;
  height: 149px;
  width: 240px;
  opacity: 0;
  cursor: pointer;
}

header {
  margin-top: 0px;
  height: 50px;
  width: 80%;
  float: right;
}

.titulo {
  flex: 1 1 100%;
  padding: 20px 20px 0px 0px;
  text-align: right;
  color: #000000;
}

.cajontitulo {
  height: 50px;
  width: 60%;
  float: left;
}

.cajontitulo .titulo {
  float: left;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 25pt;
  font-weight: 600;
  /*font-style: italic;*/
}

span {
  font-weight: 600;
}

.titulo:nth-of-type(2) {
  font-size: 10pt;
  font-weight: 500;
  margin-top: -15px;
  font-style: italic;
}



.contenido {
    width: 80%;
    height: 100%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.titulo-Opciones {
    padding-left: 20px;
    font-size: 12pt;
    margin-top: 10px;
}


.cuadroTexto {
    width: 800px;
    height: 350px;
    background: #ffffff;
    margin: 50px 0 0 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    font-size: 16pt;
    font-weight: 700;
}

.cajaCedula {
    margin: 0px 0 20px 30px;
}

.cajaCedula .titulo {
    margin: 30px 20px 30px 0;
    float: left;
}


.input {
    font-family: 'Poppins', sans-serif;
    width: 500px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin: 50px 20px 0 0;
}

.input:focus {
    outline: none;
}

.valor {
    flex: 1 100%;
    width: 1000px;
    height: auto;
    text-align: center;
    margin-left: -150px;
}

.cajaCedula .input2:nth-of-type(1){
    margin-left: 25px;
    float: left;    
}

.cajaCedula .input2:nth-of-type(2){
    margin-left: -18px;
    float: left;    
}

.input2 {
    font-family: 'Poppins', sans-serif;
    width: 230px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin: 0 50px 0 -25px;
    position: relative;
}

.input2:focus {
    outline: none;
}

.btn {
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0 0 30px;
  width: 71%;
}